$font-size-micro: 9px;
$font-size-mini: 11px;
$font-size-tiny: 12px;
$font-size-small: 13px;
$font-size: 14px;
$font-size-large: 16px;
$font-size-big: 18px;
$font-size-xlarge: 22px;

$font-site: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-code: "SFMono-Regular", Roboto, Consolas, "Liberation Mono", Menlo, Courier, monospace;

$bg-color: #f9f9f9;
$white: #fff;

// http://www.colorbox.io
// Luminosity 98 to 15 with Sine EaseOut
$gray-darkest: #14171a;
$gray-darker: #2b2e30;
$gray-dark: #727476;
$gray: #dcdcdd;
$gray-light: #e9e9e9;
$gray-lighter: #f2f2f2;
$gray-lightest: #f9f9f9;

$gray-scale: (
  darkest: $gray-darkest,
  darker: $gray-darker,
  dark: $gray-dark,
  default: $gray,
  light: $gray-light,
  lighter: $gray-lighter,
  lightest: $gray-lightest,
);

// http://www.colorbox.io
// Hue 121 to 121 SineEaseOut
// Saturation 5 to 80 SineEaseOut
// Luminosity 100 to 40 SineEaseOut
$green-darkest: #19801b;
$green-darker: #23a025;
$green-dark: #36c138;
$green: #58dd5a;
$green-light: #89f18b;
$green-lighter: #bffcc0;
$green-lightest: #f2fff2;

$green-scale: (
  darkest: $green-darkest,
  darker: $green-darker,
  dark: $green-dark,
  default: $green,
  light: $green-light,
  lighter: $green-lighter,
  lightest: $green-lightest,
);

// http://www.colorbox.io
// Hue 40 to 40 SineEaseOut
// Saturation 5 to 80 SineEaseOut
// Luminosity 100 to 40 SineEaseOut
$yellow-darkest: #664400;
$yellow-darker: #8D5E00;
$yellow-dark: #B47800;
$yellow: #D78F00;
$yellow-light: #EFAA20;
$yellow-lighter: #FBD382;
$yellow-lightest: #FFF7E6;

$yellow-scale: (
  darkest: $yellow-darkest,
  darker: $yellow-darker,
  dark: $yellow-dark,
  default: $yellow,
  light: $yellow-light,
  lighter: $yellow-lighter,
  lightest: $yellow-lightest,
);

// http://www.colorbox.io
// Hue 0 to 0 SineEaseOut
// Saturation 5 to 80 SineEaseOut
// Luminosity 100 to 40 SineEaseOut
$red-darkest: #d1211a;
$red-darker: #d52720;
$red-dark: #da2f26;
$red: #de342b;
$red-light: #e3524b;
$red-lighter: #e8716b;
$red-lightest: #ef9a95;

$red-scale: (
  darkest: $red-darkest,
  darker: $red-darker,
  dark: $red-dark,
  default: $red,
  light: $red-light,
  lighter: $red-lighter,
  lightest: $red-lightest,
);

// http://www.colorbox.io
// Hue 220 to 220 SineEaseOut
// Saturation 5 to 80 SineEaseOut
// Luminosity 100 to 40 SineEaseOut
$blue-darkest: #124cff;
$blue-darker: #1756ff;
$blue-dark: #1b61ff;
$blue: #1f69ff;
$blue-light: #4180ff;
$blue-lighter: #6296ff;
$blue-lightest: #8fb4ff;

$blue-scale: (
  darkest: $blue-darkest,
  darker: $blue-darker,
  dark: $blue-dark,
  default: $blue,
  light: $blue-light,
  lighter: $blue-lighter,
  lightest: $blue-lightest,
);

$main-color: #1f69ff;
$admin-color: #1f69ff;
$link-color: #1f69ff;

$orange: #f4b124;

// Queries
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

@mixin media($media) {
  @if $media == "sm" {
    @media only screen and (max-width: #{$md-width - 0.1px}) { 
      @content; 
    }
  }
  @else if $media == ">=sm" {
    @media only screen and (min-width: #{$sm-width}) { 
      @content; 
    }
  }
  @else if $media == "<=md" {
    @media only screen and (max-width: #{$lg-width - 0.1px}) { 
      @content; 
    }
  }
  @else if $media == "md" {
    @media only screen and (min-width: #{$md-width}) and (max-width: #{$lg-width - 0.1px}) { 
      @content; 
    }
  }
  @else if $media == ">=md" {
    @media only screen and (min-width: #{$md-width}) { 
      @content; 
    }
  }
  @else if $media == "<lg" {
    @media only screen and (max-width: #{$xl-width - 0.1px}) { 
      @content; 
    }
  }
  @else if $media == "lg" {
    @media only screen and (min-width: #{$lg-width}) and (max-width: #{$xl-width - 0.1px}) { 
      @content; 
    }
  }
  @else if $media == ">=lg" {
    @media only screen and (min-width: #{$lg-width}) { 
      @content; 
    }
  }
  @else if $media == "xl" {
    @media only screen and (min-width: #{$xl-width}) { 
      @content; 
    }
  }
}

@function textColorFor($color) {
  @if (lightness($color) > 60) {
    @return $gray-darkest; // Lighter background, return dark color
  } @else {
    @return $gray-lightest; // Darker background, return light color
  }
}

@mixin disabled() {
  cursor: not-allowed;
  opacity: .45!important;
  background-image: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  pointer-events: none!important;
}
